body {
    font-family: Arial, sans-serif;
    justify-content: center;
    background-color: white;
    color: black;


}
.portada{
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}
.dropbtn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
.dropdown-content {
    display: none;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    top: 70px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.dropdown-content a:hover{
    background-color: cadetblue;
}

.dropdown:hover .dropdown-content{
    display: grid;
}

header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    width: 100%;

}
footer{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative ;
    width: 100%;
    bottom: 0;
}
.h1{
    margin-left: 50px;
}
#letras1 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column initial;
    align-items: center;
}

#letras1 article {
    display: grid;
    width: 150%;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    
}
#letras1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: left;
    
}

#letras2 article {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,2fr);
    
}



img{
    margin: auto;
    width: 200px;
    border-radius: 30px;

}
.boton-inicio img{
    position: fixed;
    top: 22px;
    right: 10px;
    width: 25px;
    height: auto;
    z-index: 9999;  
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 20px ;
    text-align: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

/*Boton de modo oscuro*/

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    margin-left: auto;
    margin-right:35px;
    position: fixed;
    top: 10px;
    right: 10px; 
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}
:has(#toggle-dark-mode:checked){
    background-color: black;
    color: white;
}
/* No HAY PALABRAS */ 
.card {
    width: 320px;
    background: #fff480;
    color: black;
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    height: 100%;
    transition: transform 0.4s ease;
}

.card .card-top, .card .card-bottom {
    display: flex;
    justify-content: space-between;
}

.card .card-top p, .card .card-top .card-title, .card .card-bottom p, .card .card-bottom .card-title {
    margin: 0;
}

.card .card-title {
    font-weight: bold;
}

.card .card-top p, .card .card-bottom p {
    font-weight: 600;
}

.card .card-bottom {
    align-items: flex-end;
}

.card:hover {
    cursor: pointer;
    transform: scale(0.97);
}

.card:hover .card-content {
    transform: scale(0.96);
}
.card:active {
    transform: scale(0.9);
}
